.form {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 5px;
    width: 84%;
    justify-content: space-between;
  }
  .form input{
    border-radius: 5px;
    border-color: lightgrey
  }
  .form label {
    padding: 5px;
    font-weight: bold;
  }
  
  .form button {
    margin: 5px;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
  }
  .SizeInput{
    width: 45px;  /* Adjust width */
    height: 30px; /* Adjust height */
    box-sizing: border-box; /* Ensure padding and border are included in width and height */
    font-size: 12px; /* Adjust font size if necessary */
    border-radius: 3px;
  }
  